:root {
    --clr-primario: #14B5B8;
    --clr-secundario:#B0FE76;
    --clr-oscuro: #000;
    --clr-warning: #DB2763;
    --clr-light: #EBE8ED;
}
*::first-letter{
    text-transform: capitalize;
}
*,
*::before,
*::after{
    font-family: inherit;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Work Sans",sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primario);
    color: var(--clr-light);

    display:grid;
    grid:
    "header header header header" auto
    "...... list   active ......" auto/
    1fr minmax(100px, 300px)minmax(250px, 500px) 1fr
}
.fecha{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: var(--spacer);
  background-color: var(--clr-secundario);
}
.fecha-izq{
    display: flex;
    align-items: center;
}
#fechaNumero{
    font-size: 3.0rem;
}
#fechaTexto{
    letter-spacing: 3px;
    text-transform: uppercase;
}
#fechaMes,
#fehcaNumero,
#fechaTexto{
    font-weight: bold;
}
#fechaMes,
#fechaTexto{
    margin-left: 7px;
    font-size: 1.2rem;
}
.titulo{
    grid-area: header;
    text-align: center;
    font-size: calc(7vw+2rem);
    font-weight: 900;
    color:#109193;
    letter-spacing: 2px;
    margin: -0.1em 0 0.5em
}
.all-tareas{
    grid-area: list;}
.lista-tarea{
    line-height: 1.7;
    font-size: 1.2rem;
    list-style: circle;
    padding-left: 1.1em;
}
.nombre-lista{
    cursor: pointer;
}
.nombre-lista:hover{
    opacity: 0.7;
}
form{
    display: flex;
}
.btn{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
    
}
.btn.crear{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}
.btn.crear:hover{
    opacity:0.7;
}
.btn.delete{
    opacity: 0.7;
    font-size: 1rem;
    transition: colore 200ms;
}
.btn.delete:hover{
   color: var(--clr-warning);
}
.nueva{
    background: transparent ;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    transition:border-bottom 150ms ease-in;
    order:2 ;
    padding: 0.25em;
}
.nueva::placeholder{
    opacity: 0.4;
}

.nueva:focus{
    border-bottom-width:3px ;
}
.nueva:focus::placeholder{
    opacity: 0.15;
}
.nueva.lista{
    font-size: 1.1rem;
}
.nueva.tarea{
    margin-bottom: 0;

}
.lista-activa{
    font-weight: 700;
    letter-spacing: 1px;
}
.todo-lista{
    --spacer:2rem;

    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-oscuro);

}
.todo-header{
    background: var(--clr-light);
    padding: var(--spacer);
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}
.titulo-lista{
    margin: 0 1rem 0 0;
    margin-right: 1em;
}
.contador-tareas{
    margin: 0;
    font-size: 1rem;
}
.todo-body{
   padding: var(--spacer); 
   position: relative;
}
.crear-tarea{
    color: var(--clr-primario);
}
[type="checkbox"]{
    opacity: 0;
    position: absolute;
}
.tarea label{
    display:inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25em;
    
}
.tarea{
    position: relative;
}
.tarea::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom:-0.5em;
    height: 1px;
    background: var(--clr-light);
    opacity: 0.1;
}
.checkbox-personalizada{
    --size:0.75em
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.7em;
    cursor:pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}
.tarea:hover .checkbox-personalizada,
[type="checkbox"]:focus+label .checkbox-personalizada{
   transform: scale(1.2); 
   color: var(--clr-primario);
}
[type="checkbox"]:checked+label .checkbox-personalizada{
    background: var(--clr-primario);
    border-color: var(--clr-primario);
    box-shadow: inset 0 0 0px 2px white;

}
[type="checkbox"]:checked+label{
    opacity: 0.5;

}
.tarea label::after{
    content: "";
    position: absolute;
    left: 1.5em;;
    right: 0;
    top: 50%;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-in-out;
}
[type="checkbox"]:checked+label::after{
    transform: scaleX(1);
    transform-origin: left;
}
 .eliminar-tareas{
     display: flex;
     justify-content: space-evenly;
     position: absolute;
     width: 100%;
     left:0;
     bottom: -35px;
     color:var(--clr-light)

 }
 

